/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .container-extra-padding{
        padding-left: 15px;
        padding-right: 15px;
    }
    .extra-padding-footer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .bg-light.main-menu-nav{
        /*background: linear-gradient(90deg, rgba(13,46,56,1) 0%, rgba(69,186,224,1) 50%, rgba(16,69,85,1) 100%);*/
        /*box-shadow: 0px 2px 2px 0px rgba(101, 127, 135, 0.5);*/
    }
    .navbar-light.main-menu-nav .navbar-toggler{
        color:#fff;
        background: linear-gradient(90deg, rgba(13,46,56,1) 0%, rgba(69,186,224,1) 50%, rgba(16,69,85,1) 100%);
        box-shadow: 0px 2px 2px 0px rgba(101, 127, 135, 0.5);
        border-color: #fff;
    }
    .footer-col-ex-b{
        padding-left: 25px;
    }
    .profile_title_details{
        margin-top:10px;
    }
    #main-menu li{
        border-bottom: 1px solid #fff;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .container-extra-padding{
        padding-left: 15px;
        padding-right: 15px;
    }
    .extra-padding-footer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .profile_title_details{
        margin-top:10px;
    }
    .navbar-light.main-menu-nav .navbar-toggler{
        color:#fff;
        background: linear-gradient(90deg, rgba(13,46,56,1) 0%, rgba(69,186,224,1) 50%, rgba(16,69,85,1) 100%);
        box-shadow: 0px 2px 2px 0px rgba(101, 127, 135, 0.5);
        border-color: #fff;
    }
    #main-menu li{
        border-bottom: 1px solid #fff;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .container-extra-padding{
        padding-left: 15px;
        padding-right: 15px;
    }
    .extra-padding-footer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .profile_title_details{
        margin-top:10px;
    }
    #main-menu li a.nav-link {
        font-weight: 700;
        font-size: 12px;
        padding-left: .2rem;
        padding-right: .2rem;
    }
    .post-right-sidebar-text a {

        font-size: 12px;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #main-menu li a.nav-link {
        font-weight: 700;
        font-size: 14px;
        padding-left: .2rem;
        padding-right: .2rem;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }